<section class="covers">
  <div class="covers-container"> 
    <ul class="covers-list">
      <li class="covers-items">
      <img 
      class="covers-picture" 
      src="./img/covers/covers-gym.jpg" 
      srcset="./img/covers/covers-gym@1x.jpg 1x, ./img/covers/covers-gym@2x.jpg 2x" 
      alt="Lady training in the gym"
      width="554px">
    </li>
      <li class="covers-items">
        <img class="covers-picture" 
        src="./img/covers/covers-mimino.jpg" 
        srcset="./img/covers/covers-mimino@1x.jpg 1x, ./img/covers/covers-mimino@2x.jpg 2x" 
        alt="Picture of restaurant Mimino" 
        width="554px">
      </li>
      <li class="covers-items">
        <img class="covers-picture" 
        src="./img/covers/covers-traditional.jpg" 
        srcset="./img/covers/covers-traditional@1x.jpg 1x, ./img/covers/covers-traditional@2x.jpg 2x" 
        alt="lady in Ukraine traditional clothes" 
        width="554px">
      </li>
      <li class="covers-items">
        <img class="covers-picture" 
        src="./img/covers/covers-vegetables.jpg" 
        srcset="./img/covers/covers-vegetables@1x.jpg 1x, ./img/covers/covers-vegetables@2x.jpg 2x" 
        alt="Organic vegetables" 
        width="554px">
      </li>
      <li class="covers-items">
        <img class="covers-picture" 
        src="./img/covers/covers-energy.jpg" 
        srcset="./img/covers/covers-energy@1x.jpg 1x, ./img/covers/covers-energy@2x.jpg 2x" 
        alt="Lady training" 
        width="554px">
      </li>
      <li class="covers-items">
        <img class="covers-picture" 
        src="./img/covers/covers-english.jpg" 
        srcset="./img/covers/covers-english@1x.jpg 1x, ./img/covers/covers-english@2x.jpg 2x" 
        alt="Girl studying English" 
        width="554px">
      </li>
      <li class="covers-items">
        <img class="covers-picture" 
        src="./img/covers/covers-fruits.jpg" 
        srcset="./img/covers/covers-fruits@1x.jpg 1x, ./img/covers/covers-fruits@2x.jpg 2x" 
        alt="Citrus fruits" 
        width="554px">
      </li>
      <li class="covers-items">
        <img class="covers-picture" 
        src="./img/covers/covers-nature.jpg" 
        srcset="./img/covers/covers-nature@1x.jpg 1x, ./img/covers/covers-nature@2x.jpg 2x" 
        alt="Woman with cosmetics" 
        width="554px">
      </li>

      <li class="covers-items">
        <img class="covers-picture" 
        src="./img/covers/covers-studio.jpg" 
        srcset="./img/covers/covers-studio@1x.jpg 1x, ./img/covers/covers-studio@2x.jpg 2x" 
        alt="Black baground" 
        width="554px">
      </li>
      <li class="covers-items">
        <img class="covers-picture" 
        src="./img/covers/covers-wallet.jpg" 
        srcset="./img/covers/covers-wallet@1x.jpg 1x, ./img/covers/covers-wallet@2x.jpg 2x" 
        alt="Couple with computer" 
        width="554px">
      </li>
    </ul>
  </div>
</section>