<section class="covers">
  <div class="covers-container"> 
    <ul class="covers-list">
      <li class="covers-items"></li>
      <img 
      class="covers-picture" 
      src="" 
      alt="">
    </li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
      <li><img class="covers-picture" src="" alt=""></li>
    </ul>
  </div>
</section>