

.header {
  max-width: 1376px;  
  max-height: 80px;
  margin: 32px, 32px, 788px;
  position: relative;
}

.header-container {
  display: flex; 
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 487px;
}

.header-navigation {
  width: 172px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}

.nav-logo { 
  display: flex;
  flex-direction: row;
}

.header-logo {
  border-radius: 18px;
}

.header-text {}

.header-menu { 
  display: flex;
  flex-direction: column;
  gap: 487px;

}

.is-open {}

.menu-containar {
  width: 67px;
  height: 39px;
}


.button-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  border-radius: 60px;
    padding-block: 18px;
    padding-inline: 24px;
    max-width: 163px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}