

.header {
  max-width: 1376px;  
  max-height: 80px;
}

.header-container {
  display: flex; 
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 487px;
}

.header-navigation {
  width: 172px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}

.nav-logo { 
  display: flex;
  flex-direction: row;
}

.header-logo {
  border-radius: 18px;
}

.header-text {}

.header-menu { 
  display: flex;
  flex-direction: column;
}

.is-open {}

.menu-containar {}

.header-link {}

.visually-hidden {}

.nav-item {}

.nav-link {}

.button-link {}